# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Coverage directory used by testing tools
coverage/

# Temporary files
tmp/
temp/

# Other configurations
*.local
*.sublime-project
*.sublime-workspace
